
/* It's supposed to look like a tree diagram */
.tree, .tree ul, .tree li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.tree {
    margin: 0 0 3em;
    text-align: center;
}

.tree, .tree ul {
    display: table;
}

.tree ul {
  width: 100%;
}

.tree li {
    display: table-cell;
    padding: var(--tree-connector-vert-height) 0;
    vertical-align: top;
}

/* _________ */
.tree li:before {
    outline: solid 1px var(--tree-connector-color);
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.tree li:first-child:before {left: 50%;}
.tree li:last-child:before {right: 50%;}

.tree code, .tree span {
    border: solid .1em var(--tree-connector-color);
    border-radius: .2em;
    display: inline-block;
    margin: 0 .2em .5em;
    padding: .2em var(--node-width);
    position: relative;
}

/* | */
.tree ul:before,
.tree code:before,
.tree span:before {
    outline: solid 1px var(--tree-connector-color);
    content: "";
    height: var(--tree-connector-vert-height);
    left: 50%;
    position: absolute;
}

.tree ul:before {
    top: var(--tree-connector-vert-height-pad);
}

.tree code:before,
.tree span:before {
    top: var(--tree-connector-vert-height-margin);
}

/* The root node doesn't connect upwards */
.tree > li {margin-top: 0;}
    .tree > li:before,
    .tree > li:after,
    .tree > li > code:before,
    .tree > li > span:before {
      outline: none;
    }

