
.ktooltip {
    position: relative;
    display: inline-block;
}

.ktooltip .ktooltiptext {
    visibility: hidden;
    width: 400px;
    text-align: left;
    border-radius: 6px;
    padding: 5px 5px;
    top: -5px;
    left: 105%;
    border:2px solid rgb(150, 63, 63);

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.ktooltip:hover .ktooltiptext {
    visibility: visible;
}

