
.center {
    margin: auto;
}

.overflow-scroll {
    overflow:scroll;
}

#sheet-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 500px;
    max-height: 800px;
    max-width: 800px;
    overflow: scroll;
    background-color: black;
}

.sheet-wrapper div.bg-overlay.default {
    background-color: black;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(https://i.imgur.com/MvwRuVf.png);     /* constelle_wheel.png */
    position: absolute;
    top: 45px;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
}

.sheet-wrapper div.header-row-spacer {
    height: 45px;
    width: 100%;
    background-color: white;
}

.sheet-wrapper div.bg-overlay.specific {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -90;
    width: 100%;
    height: 100%;
    background-color: white;
}

.bg-overlay.tycot {
    background-image: url(https://i.imgur.com/0HPXkvB.png);     /* tycot_shade.png */
}

.tree li span {
    background-color: var(--parchment-color);
    pointer-events: auto;
}

